<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youzheng.zhejiang.robertmoog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".RMApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.ClientViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.ScanSellerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.SearchGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.LocationManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.AddNewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.StoreCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.StoreCustomerInsideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.OrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.GoodsManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.ProfessionalCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.AddCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.ProfessionalCustomerOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.AttentionManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.ProfessionalOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.AttentionIntentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.activity.AttentionGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.SampleOutInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.SampleOutEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.PeopleMangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.SampleOutMangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.UpPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.SampleOutDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.AddStaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.CheckResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.ReturnGoodsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.activity.CheckStoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.StoreSalesNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.StoreSaleInsideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.GoodsSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.MealRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.GoodsTypeRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.GoodsTypeRankingDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodayStoreSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodayMealSalesBestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodayGoodsTypeSaleBestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodayRegisterNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodaySingleGoodsSalesBestDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Count.activity.TodayGoodsTypeSalesBestDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Store.activity.UnqualifiedActivity"></activity>
    </application>

</manifest>